<?xml version="1.0"?>
<!--
    - Base      : murom
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="murom" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find murom_description)/urdf/murom_library.urdf.xacro" />
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>
</robot>