<?xml version="1.0"?>
<robot name="murom" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find murom_description)/urdf/kinect/kinect.urdf.xacro"/>
  <xacro:include filename="$(find murom_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find murom_description)/urdf/murom_properties.urdf.xacro"/>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/murom</robotNamespace>
    </plugin>
  </gazebo>

<link
    name="base_footprint"/>
  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="0 0 0.3"
      rpy="0 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
  </joint>



  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00558505045857072 0.000223008604259885 0.0390613117723667"
        rpy="0 0 0" />
      <mass
        value="43.2053004192762" />
      <inertia
        ixx="2.65958282143013"
        ixy="0.000274170236096077"
        ixz="0.0713810073451908"
        iyy="2.52723505537043"
        iyz="9.21060215788137E-05"
        izz="3.15073786919698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/found.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/found.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="supwheel">
    <inertial>
      <origin
        xyz="-3.48054918219987E-14 0.01 8.49877695996426E-09"
        rpy="0 0 0" />
      <mass
        value="0.252410366826367" />
      <inertia
        ixx="4.22011549053702E-05"
        ixy="5.0719450726252E-12"
        ixz="-5.10991065078981E-21"
        iyy="7.03711150556965E-05"
        iyz="-2.30990289511718E-20"
        izz="4.22013245287302E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/supwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/supwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spj"
    type="fixed">
    <origin
      xyz="-0.35647938563719 -0.00728806900000959 -0.278593729468106"
      rpy="6.63446666304453E-17 -1.1619707313851E-30 1.75141543457824E-14" />
    <parent
      link="base_link" />
    <child
      link="supwheel" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="wheel_left_link">
    <inertial>
      <origin
        xyz="-1.08636716456001E-07 -0.0400666405449752 -1.45598615525211E-07"
        rpy="0 0 0" />
      <mass
        value="38.5016876202174" />
      <inertia
        ixx="0.281294106347389"
        ixy="3.70269664395719E-07"
        ixz="-2.03741583151806E-06"
        iyy="0.541042482295194"
        iyz="-2.55348177673329E-07"
        izz="0.281291684801198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/lmwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/lmwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_left_joint"
    type="fixed">
    <origin
      xyz="0.0368499999999981 0.267211930999997 -0.127248471181616"
      rpy="-1.04387835799471E-15 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_left_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="wheel_right_link">
    <inertial>
      <origin
        xyz="0.00400007774006554 0.040066489008572 -1.77615343599502E-07"
        rpy="0 0 0" />
      <mass
        value="38.5015659404429" />
      <inertia
        ixx="0.281292585109412"
        ixy="4.20506342151003E-07"
        ixz="2.35864084102445E-06"
        iyy="0.541041874307209"
        iyz="1.55988542073103E-07"
        izz="0.281292121004341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/rmwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/rmwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_right_joint"
    type="fixed">
    <origin
      xyz="0.0368500000000074 -0.266788069000003 -0.127248471181616"
      rpy="6.63446666304453E-17 -1.1619707313851E-30 1.75141543457824E-14" />
    <parent
      link="base_link" />
    <child
      link="wheel_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="pillar">
    <inertial>
      <origin
        xyz="-0.0631336866138198 0.0777621940904345 0.14860000029975"
        rpy="0 0 0" />
      <mass
        value="0.0531161397704353" />
      <inertia
        ixx="1.7621925188156E-05"
        ixy="-3.41800335229115E-06"
        ixz="1.92231181336778E-11"
        iyy="3.09757385697677E-05"
        iyz="1.44724593440625E-10"
        izz="1.67970057163936E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/pillar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/pillar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pj"
    type="fixed">
    <origin
      xyz="0 0 0.310000000000001"
      rpy="6.63446666304453E-17 -1.1619707313851E-30 1.75141543457824E-14" />
    <parent
      link="base_link" />
    <child
      link="pillar" />
    <axis
      xyz="0 0 1" />
<limit effort="1000" velocity="1000"/>
   <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <link
    name="torsodown">
    <inertial>
      <origin
        xyz="0.00487675957913391 -0.0972323951472598 0.201036819967844"
        rpy="0 0 0" />
      <mass
        value="2.43455936674416" />
      <inertia
        ixx="0.0391766067371756"
        ixy="1.35297180546079E-06"
        ixz="-0.00173803195173356"
        iyy="0.0205503137157225"
        iyz="-2.79544515525284E-05"
        izz="0.0193471460246358" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/torsodown.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/torsodown.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tdj"
    type="fixed">
    <origin
      xyz="-0.0545323092339866 0.113440016086032 0.148599999999998"
      rpy="1.07521796365408E-13 2.66832063276448E-14 -0.236566539214393" />
    <parent
      link="pillar" />
    <child
      link="torsodown" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="torsoup">
    <inertial>
      <origin
        xyz="-0.00429585365816983 0.0808651003021967 0.216033500785546"
        rpy="0 0 0" />
      <mass
        value="3.9054747412393" />
      <inertia
        ixx="0.0780594086603757"
        ixy="6.01331218089826E-05"
        ixz="-0.00919269267657588"
        iyy="0.0388143695460778"
        iyz="-0.000187292947851412"
        izz="0.0445355367000355" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/torsoup.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/torsoup.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tuj"
    type="fixed">
    <origin
      xyz="-0.0613353782819227 -0.178500000000035 0.371988556686935"
      rpy="-4.04415108415562E-17 -9.98985011185821E-15 -4.44089209850063E-16" />
    <parent
      link="torsodown" />
    <child
      link="torsoup" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="-0.00547021152448102 -0.0120000001708742 0.033101690130876"
        rpy="0 0 0" />
      <mass
        value="0.4503224240065" />
      <inertia
        ixx="0.000219493904356614"
        ixy="-2.3782519126248E-13"
        ixz="-1.1935388635364E-05"
        iyy="0.000214451258670037"
        iyz="2.42313107702396E-12"
        izz="0.000149242043540864" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="nj"
    type="fixed">
    <origin
      xyz="-0.0516500646336157 0.093000000000035 0.325629296136459"
      rpy="-2.91064991763118E-16 8.45352016146653E-15 -5.55111512312578E-17" />
    <parent
      link="torsoup" />
    <child
      link="neck" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.00604832668652483 0.000743593223767432 -0.00863321900006908"
        rpy="0 0 0" />
      <mass
        value="0.769286677695821" />
      <inertia
        ixx="0.0029896194842546"
        ixy="0.000146665491681959"
        ixz="-2.8583072598078E-06"
        iyy="0.00181566896136476"
        iyz="3.49415420097256E-07"
        izz="0.00466149508853735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://murom_description/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hj"
    type="fixed">
    <origin
      xyz="-0.0176086934682474 -0.0120000000000006 0.106554839938601"
      rpy="-0.0382211778794632 -0.159291058901152 0.23656653921441" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="0 0 1" />
  </joint>
  <sensor_kinect  parent="base_link"/>
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lmwj">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
     <type>transmission_interface/SimpleTransmission</type>
     <joint name="rmwj">
       <hardwareInterface>EffortJointInterface</hardwareInterface>
     </joint>
     <actuator name="motor2">
       <hardwareInterface>EffortJointInterface</hardwareInterface>
       <mechanicalReduction>1</mechanicalReduction>
     </actuator>
  </transmission>

  <transmission name="tran3">
     <type>transmission_interface/SimpleTransmission</type>
     <joint name="pj">
       <hardwareInterface>EffortJointInterface</hardwareInterface>
     </joint>
     <actuator name="motor3">
       <hardwareInterface>EffortJointInterface</hardwareInterface>
       <mechanicalReduction>1</mechanicalReduction>
     </actuator>
  </transmission>

  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="tdj">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="tuj">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="nj">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="hj">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
